* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.case{
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 5%;
    text-align: center;
}

h1{
    text-align: center;
    color: #009f3a;
    opacity: 0.7;
}

#link{
    color: #009f3a;
}